*{
    box-sizing: border-box;
}
.loading{
    width: 200px;
    height: 50px;
    margin: 20px auto;
    position: relative;
    
}
.loading span{
    position: absolute;
    display: block;
    bottom: 0;
    height: 20px;
    background: #3498db;
    width: 20px;
    border-radius: 50%;
    opacity: .5 ;
    animation: snake  1.5s infinite ease-in-out; 
}
.loading span:nth-of-type(2){
    left: 20px;
    animation-delay: .2s;
}
.loading span:nth-of-type(3){
    left: 40px;
    animation-delay: .4s;
}
.loading span:nth-of-type(4){
    left: 60px;
    animation-delay: .6s;
}
.loading span:last-of-type{
    left: 80px;
animation-delay: .8s;
    
}
@keyframes snake{
    0%{
        opacity: .3;
        transform: translateY(0);
    }
    50%{
        opacity: 1;
        transform: translateY(-10px);
        background: #080;  
        box-shadow: 0 20px 3px rgba(0,0,0,0.05);
    }
    100%{
        opacity: .3;
        transform: translateY(0);
        box-shadow: 0 0 3px rgba(0,0,0,0.05);
    }
  
}
